.table {
    display: grid;
    grid-template-columns: 20% 50% 15% 15%;
    grid-template-rows: auto;
    padding: 30px 0;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.table__title {
    border-right: 2px solid #4baeff;
    grid-row: 1;
    margin: 0;
    font-weight: bold;
    padding: 10px;
}

.table__content {
    border-top: 2px solid #4baeff;
    border-right: 2px solid #4baeff;
    grid-row: auto;
    margin: 0;
    padding: 10px;
    font-size: 90%;
}

.table__last-col {
    background: #2c82c9;
    color: #ffffff;
}

@media only screen and (max-width: 680px) {
    .table {
        grid-template-columns: 50% 0 0 50%;
    }
}